<!DOCTYPE html>
<html lang="pt" xmlns="http://www.3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:brewer="http://ric_bap.com" >
       
<head>
	<title>Cadastro de usuário</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-toggle.min.css}"/>
</head> 

<body>

<section class="aw-layout-content  js-content" layout:fragment="conteudo" >

	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de usuário</h1>
		</div>
	</div>

	<div class="container-fluid">	

		<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading">
			
			<brewer:message />
		
			<div class="row">					
				<div class="col-sm-12  form-group  bw-required" brewer:classforerror="nome" >
					<label class="control-label" for="nome">Nome</label>
					<input class="form-control" id="nome" type="text" th:field="*{nome}" />						
				</div>
			</div>				
			
			<div class="row">
				<div class="col-sm-6  form-group  bw-required" brewer:classforerror="email" >						
					<label class="control-label" for="email">E-mail</label>
					<input class="form-control" id="email" type="text" th:field="*{email}" />											
				</div>
				
				<div class="col-sm-3  form-group">						
					<label class="control-label" for="dataNascimento">Data nascimento</label>					
					<input class="form-control" id="dataNascimento" type="text" />											
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-3  form-group  bw-required" brewer:classforerror="senha" >						
					<label class="control-label" for="senha">Senha</label>
					<input class="form-control" id="senha" type="password"  />											
				</div>
				
				<div class="col-sm-3  form-group  bw-required"  >						
					<label class="control-label" for="confirmacaoSenha">Confirmação de senha</label>					
					<input class="form-control" id="confirmacaoSenha" type="password"  />											
				</div>
				
				<div class="col-sm-3  form-group">						
					<label for="status">Status</label>
					<div>
						<input class="js-status" checked type="checkbox" data-width="100" data-size="small" 
						       data-offstyle="danger" data-on="Ativo" data-off="Inativo" >																	
					</div>													
				</div>
				
			</div>
			
			<div class="row">				
				<div class="col-sm-6  form-group  bw-required" brewer:classforerror="grupos" >						
					<label class="control-label" for="grupos">Grupos</label>
					<div>
						<div class="radio radio-inline">
							<input type="radio" name="grupos" >
							<label>Administrador</label> 							
						</div>
						<div class="radio radio-inline">
							<input type="radio" name="grupos" >
							<label>Vendedor</label> 							
						</div>							
					</div>						
				</div> 				
			</div>			
					
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>					
			</div>
		</form>
	</div>
	
</section>		

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-toggle.min.js}"></script>
	<script>
	 $(function() {
	   $('.js-status').bootstrapToggle();
	 })
	</script>
</th:block>

</body>

</html>