<!DOCTYPE html>
<html lang="pt" xmlns="http://www.3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      layout:decorate="~{layout/LayoutPadrao}" 
      xmlns:brewer="http://ric_bap.com" >     
       
<head>
	<title>Pesquisa de usuários</title>
</head> 

<body>

<section class="aw-layout-content  js-content" layout:fragment="conteudo" >

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10  ">
					<h1>Pesquisa de usuários</h1>
				</div>
				
				<div class="col-xs-2" >
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/usuarios/novo}">
							<i class="glyphicon  glyphicon-plus-sign">
								<span class="hidden-xs  hidden-sm">Novo usuário</span>
							</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
	
		<form method="GET" th:object="${usuario}"  >
		
			<div class="row">
				<div class="col-sm-6  form-group">
					<label class="control-label" for="nome">Nome</label>
					<input class="form-control" type="text" id="nome"  />
				</div>
				
				<div class="col-sm-6  form-group">
					<label class="control-label" for="email">E-mail</label>
					<input class="form-control" type="text" id="email"  >
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6  form-group" >					
					<label  class="control-label">Grupos</label>
					<div>
						<th:block th:each="grupo : ${grupos}" >
							<div class="checkbox checkbox-inline">
								<input th:id="|id_${grupo}|"  th:value="${grupo}" type="checkbox" > <!-- th:field="*{origem}" -->
								<label th:for="|id_${grupo}|"  th:text="${grupo.nome}">Administrador</label> 							
							</div>
						</th:block>											
					</div>						
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-usuario-col-nome">Nome</th>						
						<th class="table-usuario-col-email">E-mail</th>
						<th class="table-usuario-col-status">Status</th>						
						<th class="table-usuario-col-acoes"></th>
					</tr>			
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">   <!-- ${cliente} | ${pagina.content}-->
						<td th:text="${usuario.nome}">Admnin</td>
						<td class="text-left" th:text="${usuario.email}">admin@mail.com</td>
						<td class="text-left" th:text="${usuario.ativo}">ativo</td>						
						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar">
								<i class="glyphicon  glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon  glyphicon-remove"></i>
							</a>
						</td>						
					</tr>
					<tr th:if="${#lists.isEmpty(usuarios)}" >    <!-- th:if="${#lists.isEmpty(clientes)}" | th:if="${#lists.isEmpty(pagina.content)}" | th:if="${#lists.isEmpty(pagina.conteudo)}"-->
						<td colspan="5">Nenhum cliente encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>
	
</section>

</body>

</html>

