<!DOCTYPE html>
<html lang="pt" xmlns="http://www.3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      layout:decorate="~{layout/LayoutPadrao}" >     
       
<head>
	<title>Pesquisa de clientes</title>
</head> 

<body>

<section class="aw-layout-content  js-content" layout:fragment="conteudo" >

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10  ">
					<h1>Pesquisa de clientes</h1>
				</div>
				
				<div class="col-sm-2" >
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/clientes/novo}">
							<i class="glyphicon  glyphicon-plus-sign">
								<span class="hidden-xs  hidden-sm">Novo cliente</span>
							</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">	

		<form method="GET"  th:object="${clienteFilter}"  >
		
			<div class="row">
				<div class="col-sm-8  form-group">
					<label class="control-label" for="nome">Nome</label>
					<input class="form-control" type="text" id="nome" th:field="*{nome}" />
				</div>
				
				<div class="col-sm-4  form-group">
					<label class="control-label" for="cpfCnpj">CPF/CNPJ</label>
					<input class="form-control" type="text" id="cpfCnpj" th:field="*{cpfCnpj}" >
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-cliente-col-nome">Nome</th>
						<th class="table-cliente-col-tipoPessoa">Tipo Pessoa</th>
						<th class="table-cliente-col-cpfCnpj">CPF/CNPJ</th>
						<th class="table-cliente-col-telefone">Telefone</th>
						<th class="table-cliente-col-acoes"></th>
					</tr>			
				</thead>
				<tbody>
					<tr th:each="cliente : ${pagina.content}">   <!-- ${cliente} -->
						<td th:text="${cliente.nome}">Ricardo</td>
						<td class="text-center" th:text="${cliente.tipoPessoa}">Física</td>
						<td class="text-right" th:text="${cliente.cpfCnpj}">22493931940</td>
						<td class="text-right" th:text="${cliente.telefone}">(19)99659-2800</td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar">
								<i class="glyphicon  glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon  glyphicon-remove"></i>
							</a>
						</td>						
					</tr>
					<tr th:if="${#lists.isEmpty(pagina.content)}" >    <!-- th:if="${#lists.isEmpty(clientes)}" -->
						<td colspan="5">Nenhum cliente encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>		
		
		<div class="col-sm-12  text-center" th:if="${not  #lists.isEmpty(pagina.content)}" >
			<nav aria-label="Page navigation example">
				<ul class="pagination  pagination-sm">
			  		<li class="page-item">
			    		<a class="page-link" href="#" aria-label="Previous">
			        		<span aria-hidden="true">&laquo;</span>
			    		</a>
			    	</li>
			    	
			    	<th:block th:each="p : ${#numbers.sequence(1, pagina.totalPages)}">
			    		<li class="page-item"><a class="page-link" th:href="|?page=${p - 1}|">[[${p}]]</a></li>
			    	</th:block>			    	
			    	
			    	<!-- <li class="page-item"><a class="page-link" href="?page=1">2</a></li>
			    	<li class="page-item"><a class="page-link" href="?page=2">3</a></li> -->
			    	
			    	<li class="page-item">
			    		<a class="page-link" href="#" aria-label="Next">
			        		<span aria-hidden="true">&raquo;</span>
			    		</a>
			    	</li>
				</ul>
			</nav>
		</div>		
		
	</div>
	
</section>

</body>

</html>