<!DOCTYPE html>
<html lang="pt" xmlns="http://www.3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'" >
       
<head>
	<title>Pesquisa de estilo</title>	
</head> 

<body>

<section layout:fragment="conteudo" >

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de estilo</h1>					
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/estilos/novo}">
							<i class="glyphicon  glyphicon-plus-sign">
								<span class="hidden-xs  hidden-sm">Novo estilo</span>
							</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">	

		<form method="GET" th:object="${estiloFilter}" >			
						
			<div class="row">				
				<div class="col-sm-12  form-group" >						
					<label class="control-label" for="nome">Estilo</label>					
					<input class="form-control" type="text"  id="nome"  th:field="*{nome}"  />												
				</div>
			</div>					
					
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Pesquisar</button>					
			</div>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-estilo-col-codigo" >
							<a th:href="${pagina.urlOrdenada('codigo')}"  th:remove="${pagina.vazia} ? tag">
								<span>Código</span>
								<span class="dropup" th:remove="${pagina.descendente('codigo')} ? tag" 
									th:if="${pagina.ordenada('codigo')}">
									<span class="caret"></span>
								</span>
							</a>
						</th>
						<th class="table-estilo-col-nome" >
							<a th:href="${pagina.urlOrdenada('nome')}"  th:remove="${pagina.vazia} ? tag">
								<span>Nome</span>
								<span class="dropup" th:remove="${pagina.descendente('nome')} ? tag" 
									th:if="${pagina.ordenada('nome')}">
									<span class="caret"></span>
								</span>
							</a>
						</th>
						<th class="table-estilo-col-acoes" ></th>
					</tr>
				</thead>					
				<tbody>
					<tr th:each="estilo : ${pagina.conteudo}">
						<td class="text-center" th:text="${estilo.codigo}">Código</td>
						<td th:text="${estilo.nome}">Nome</td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar">
								<i class="glyphicon  glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon  glyphicon-remove"></i>
							</a>
						</td>
					</tr>
				</tbody>
				<tr th:if="${pagina.vazia}">
					<td colspan="3">Nenhum estilo encontrado</td>
				</tr>
			</table>
		</div>
		
		<div class="col-sm-12  text-center" th:if="${not  pagina.vazia}">
			<nav>
				<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
				    <li class="page-item" th:class="${pagina.primeira} ? disabled" >
				    	<a class="page-link" th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag" >
				        	<span aria-hidden="true">&laquo;</span>
				    	</a>
				    </li>
				    
				    <th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" 
				    	th:with="numeroPagina=${p - 1}" >
				    	<li class="page-item" th:class="${paginaAtual == numeroPagina} ? active">
				    		<a class="page-link" th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
				    	</li>
				    </th:block>				   
				    
				    <li class="page-item" th:class="${pagina.ultima} ? disabled" > 
				    	<a class="page-link" th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag" >
				        	<span aria-hidden="true">&raquo;</span>
				    	</a>
				    </li>
				</ul>
			</nav>
		</div>
		
	</div>
	
</section>

</body>

</html>